In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import re
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import nltk
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier as XGBC

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [6]:
df = df.drop("id",axis=1)

In [7]:
df.head()

  keyword location                                               text  target
0     NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
1     NaN      NaN             Forest fire near La Ronge Sask. Canada       1
2     NaN      NaN  All residents asked to 'shelter in place' are ...       1
3     NaN      NaN  13,000 people receive #wildfires evacuation or...       1
4     NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [8]:
df["location"] = df["location"].fillna(df["location"].mode()[0])

In [9]:
df.head()

  keyword location                                               text  target
0     NaN      USA  Our Deeds are the Reason of this #earthquake M...       1
1     NaN      USA             Forest fire near La Ronge Sask. Canada       1
2     NaN      USA  All residents asked to 'shelter in place' are ...       1
3     NaN      USA  13,000 people receive #wildfires evacuation or...       1
4     NaN      USA  Just got sent this photo from Ruby #Alaska as ...       1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   7552 non-null   object
 1   location  7613 non-null   object
 2   text      7613 non-null   object
 3   target    7613 non-null   int64
dtypes: int64(1), object(3)
memory usage: 238.0+ KB

In [11]:
df = df.dropna()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7552 entries, 31 to 7582
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   7552 non-null   object
 1   location  7552 non-null   object
 2   text      7552 non-null   object
 3   target    7552 non-null   int64
dtypes: int64(1), object(3)
memory usage: 295.0+ KB

In [13]:
df.head()

,keyword,location,text,target
31,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0

In [14]:
df.reset_index(inplace=True)

In [15]:
df.head()

,index,keyword,location,text,target
0,31,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
1,32,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
2,33,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
3,34,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
4,35,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0

In [16]:
df = df.drop("index",axis=1)
df = df.drop("location",axis=1)
df = df.drop("keyword",axis=1)

In [17]:
df.head()

                                                text  target
0  @bbcmtd Wholesale Markets ablaze http://t.co/l...       1
1  We always try to bring the heavy. #metal #RT h...       0
2  #AFRICANBAZE: Breaking news:Nigeria flag set a...       1
3                 Crying out for more! Set me ablaze       0
4  On plus side LOOK AT THE SKY LAST NIGHT IT WAS...       0

In [18]:
from sklearn.preprocessing import LabelEncoder as LE

In [19]:
#df["keyword"] = LE().fit_transform(df["keyword"])

In [20]:
df.head()

                                                text  target
0  @bbcmtd Wholesale Markets ablaze http://t.co/l...       1
1  We always try to bring the heavy. #metal #RT h...       0
2  #AFRICANBAZE: Breaking news:Nigeria flag set a...       1
3                 Crying out for more! Set me ablaze       0
4  On plus side LOOK AT THE SKY LAST NIGHT IT WAS...       0

In [21]:
corpus = []

x = df.iloc[:,0]
y = df['target']

for i in range(x.shape[0]):
    tweet = re.sub('[^a-zA-Z]', ' ', df.iloc[i,0])
    tweet = tweet.lower()
    tweet = nltk.word_tokenize(tweet)
    ps = PorterStemmer()
    all_stopwords = stopwords.words('english')
    all_stopwords.remove('not')
    tweet = [ps.stem(word) for word in tweet if not word in set(all_stopwords)]
    tweet = ' '.join(tweet)
    corpus.append(tweet)

tf= TfidfVectorizer()
x = tf.fit_transform(corpus).toarray()

pd.DataFrame(x,columns=tf.get_feature_names_out())
xtrain, xtest, ytrain, ytest = train_test_split(x, y,test_size=0.3,random_state=101)
classifier_rf = XGBC(n_estimators = 10,gamma=0,max_depth=15)
classifier_rf.fit(xtrain, ytrain)
predictions = classifier_rf.predict(xtrain)

print(confusion_matrix(ytrain,predictions))
print('\n')
print(classification_report(ytrain,predictions))
testpredictions = classifier_rf.predict(xtest)

print(confusion_matrix(ytest,testpredictions))
print('\n')
print(classification_report(ytest,testpredictions))

[[2905   91]
 [ 860 1430]]


              precision    recall  f1-score   support

           0       0.77      0.97      0.86      2996
           1       0.94      0.62      0.75      2290

    accuracy                           0.82      5286
   macro avg       0.86      0.80      0.80      5286
weighted avg       0.84      0.82      0.81      5286

[[1203  124]
 [ 401  538]]


              precision    recall  f1-score   support

           0       0.75      0.91      0.82      1327
           1       0.81      0.57      0.67       939

    accuracy                           0.77      2266
   macro avg       0.78      0.74      0.75      2266
weighted avg       0.78      0.77      0.76      2266